*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content{
    width: 100%;
    background: #FFEDF1;
    overflow: hidden;
    padding: 3vw 0;
}
.home_title{
    width: 60%;
    margin: 0 auto 30px auto;
    font-size: 26px;
    font-family: "panel", serif;
    font-weight: 900;
    font-style: italic;
}
.home_con{
    width: 60%;
    margin: auto;
    column-count: 2;
    column-gap: 1vw;
}
a{
    display: block;
    margin-bottom: 20px;
    background: white;
    padding: 1.5vw;
    border-radius: 10px;
    transition: all 0.3s;
}
a:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.05);
}
img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
@media screen and (max-width: 1200px){
    .content{
        width: 100%;
    }
    .home_con{
        width: 80%;
    }
    a{
        padding: 20px;
    }
}
@media screen and (max-width: 960px){
    .home_con{
        width: 95%;
    }
    a{
        padding: 10px;
    }
}
